<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
   <header>
        <nav class="site-nav">
            <div class="menu-logo">
                <img src="/images/menu.svg" id="menu" alt="menu">
                <a href="/" class="logo">ebook</a>
            </div>
            <div class="desktop-nav-links">
                <ul>
                    <div class="desktop-links">
                        <li><a href="/"><i class="fa fa-dot-circle-o" aria-hidden="true" style="color:#ffb800"></i> HOME</a></li>
                        <li><a href="/books">BOOKS</a></li>
                        <li><a href="/content">CONTENT</a></li>
                        <li><a href="/about">ABOUT</a></li>
                    </div>
                </ul>
            </div>
            <div class="nav-links" id="navlinks">
                <div class="responsive-menu-logo">
                    <a href="/" class="logo">ebook</a>
                    <img src="/images/cancel.svg" id="cancel" alt="cancel">
                    
                </div>
                <ul>
                    <div class="responsive-nav-links">
                        <li><a href="/">HOME</a></li>
                        <li><a href="/books">BOOKS</a></li>
                        <li><a href="/content">CONTENT</a></li>
                        <li><a href="/about">ABOUT</a></li>
                    </div>
                </ul>
           
            </div>
            <div class="action-buttons">
                <a href="/login" class="login-btn">LOGIN</a>
            </div>
        </nav>
        <section class="info-container">
            <section class="text-container">
                <h1>Best way to get your textbook resources</h1>
                <p>Ebook gives you access to many resources including textbooks, citations, papers with just a one-time fee.</p>
                <a href="/getstarted">GET STARTED</a>
            </section>
            <section class="image-container">
                <img src="/images/hero.jpg" alt="group of kids. one reading wile leaning on a book shelf, another one checking for what to read, and one sitting on the floor reading.">
            </section>
        </section>
   </header>

   <script src="/script.js"></script>
</body>
</html>