<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/signup.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <header>
        <section class="container">
            <section class="form-container">
                <div class="login-btn">
                    <p>Have an account? <a href="/login">Login Here</a></p>
                </div>
                <div class="text-info">
                    <h2>Create Your Account</h2>
                    <p>Get your favorite ebook and explore more to read</p>
                </div>
                <div class="googleauth-div">
                    <a href="/"> <img src="/images/google.svg" alt="gmail-g-img" width="20px"> Get started with Google</a>
                </div>
                <div class="or">
                    <hr class="left line"> <p>Or</p> <hr class="right line">  
                </div>
                <div class="form-section">

                    <form action="/signup" method="post">
                        <div class="field">
                            <label for="Full Name">Full Name</label>
                            <input type="text" name="fullname" id="bl" placeholder="Enter Name">
                        </div>
                        <div class="field">
                            <label for="Email">Email</label>
                            <input type="email" name="username" id="bl" placeholder="Enter Email">
                        </div>
                        <div class="field">
                            <label for="">Password</label>
                            <input type="password" name="password" id="bl" placeholder="Choose a strong Password">
                        </div>
                        <div class="tandc">
                            <input type="checkbox" name="tandc" id="">
                            <span>By clicking this, you agree to our <a href="/tandc">terms and condition.</a></span>
                        </div>
                        <button type="submit">Create Account</button>
                    </form>
                </div>
                
            </section>
            <section class="book-container">
                <div class="logo">
                    <h1>ebook</h1>
                </div>
                <div class="popular-books">
                    <h1>Popular on Ebook</h1>
                    <p>Recommended for you to learn the basics of chemistry.</p>
                </div>
                <div class="book-info">
                    <div class="book-img">
                        <img src="/images/book-container.png" alt="">
                    </div>
                    <div class="book-about">
                        <h2>Review by reader</h2>
                        <div class="reader one">
                            <h2>Ronald Richards &mdash; <i class="fa fa-star" style="color:gold" aria-hidden="true"></i> <i class="fa fa-star" style="color:gold" aria-hidden="true"></i> <i class="fa fa-star" style="color:gold" aria-hidden="true"></i> <i class="fa fa-star" style="color:gold" aria-hidden="true"></i> <i class="fa fa-star" style="color:gold"  aria-hidden="true"></i></h2>
                            <p>This book is awesome. I was skeptical at first thinking - here's another book on chemistry. There couldn't be a book better than this.</p>
                        </div>
                        <div class="reader two">
                            <h2>Jonathan Smith &mdash; <i class="fa fa-star" style="color:gold" aria-hidden="true"></i> <i class="fa fa-star" style="color:gold" aria-hidden="true"></i> <i class="fa fa-star" style="color:gold" aria-hidden="true"></i> <i class="fa fa-star" style="color:gold" aria-hidden="true"></i> <i class="fa fa-star" style="color:gold"  aria-hidden="true"></i></h2>
                            <p>This book took my chemistry knowledge straight up the bar. I was marvelled and allured by what i got to learn in the first five pages and I am amazed.</p>
                        </div>
                    </div>
                </div>
            </section>
        </section>
    </header>
</body>
</html> 